apiVersion: v1
kind: Secret
metadata:
  name: blackbalsam-secrets
type: Opaque
stringData:
  jupyterhub_secret_token : ""
  github_client_secret : ""
  minio_access_key : ""
  minio_secret_key : ""
  neo4j_password : ""
